name: Release

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
      - name: Check for differences
        run: bin/check_for_differences
        env:
          SUITE: Source
          OAUTH_TOKEN: ${{ secrets.OAUTH_TOKEN }}
