name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
      - name: Check for differences
        run: bin/check_for_differences
        env:
          SUITE: Source
          OAUTH_TOKEN: ${{ secrets.OAUTH_TOKEN }}
      - name: Install build dependencies
        run: python -m pip install -U pip setuptools wheel build
      - name: Build distributions
        run: python -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          skip_existing: true
